<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>
    <h1>HELLO</h1>
    <form action="/" method="POST" class="title-form">
      <button class="btn btn-outline-dark" type="submit" name="button" value="first">Contact us</button>
    </form>
    <form action="/emergency" method="POST" class="title-form">
      <button class=" btn btn-outline-dark">emergency</button>
   </form>

  </body>
  </html>
